---
name: starships
url: /starships/:id?p=
controller: StarshipsCtrl
---
<div class="grid-content starship" class="starship" ng-show="starship">
	<h1>{{starship.name | capitalize}}</h1>
	<img ng-show="imageUrl != 'Unknown'" src="{{imageUrl}}" alt="">
	<hr>
	<dl>
		<dt>Model</dt>
		<dd>{{starship.model | capitalize}}</dd>
		<dt>Starship Class</dt>
		<dd>{{starship.starship_class | capitalize}}</dd>
		<dt>Manufacturer</dt>
		<dd>{{starship.manufacturer | capitalize}}</dd>
		<dt>Cost</dt>
		<dd>{{starship.cost_in_credits}} credits</dd>
		<dt>Hyperdrive Rating</dt>
		<dd>{{starship.hyperdrive_rating}}</dd>
		<dt>Max Speed in Atmosphere</dt>
		<dd>{{starship.max_atmosphering_speed}}</dd>
		<dt>Length</dt>
		<dd>{{starship.length}} meters</dd>
		<dt>Crew</dt>
		<dd>{{starship.crew}}</dd>
		<dt>Passengers</dt>
		<dd>{{starship.passengers}}</dd>
		<dt>Cargo Capacity</dt>
		<dd>{{starship.cargo_capacity}} kg</dd>
		<dt>Consumables</dt>
		<dd>{{starship.consumables}}</dd>
		<dt>MGLT</dt>
		<dd>{{starship.MGLT | capitalize}}</dd>
		<dt>Films</dt>
		<dd ng-repeat="film in starship.films" ui-sref="films({ id:(film | lastdir), p:''})">
			<span get-prop prop="'title'" url="film">{{film}}</span>
		</dd>
		<dt ng-show="starship.pilots[0]">Pilots</dt>
		<dd ng-repeat="pilot in starship.pilots" ui-sref="people({ id:(pilot | lastdir), p:''})">
			<span get-prop prop="'name'" url="pilot">{{pilot}}</span>
		</dd>
	</dl>
</div>


<div class="grid-content starships" class="starships" ng-show="starships">
	<a class="button pagination" ng-show="prevPage" ui-sref="starships({ p: prevPage })">Back to Page {{prevPage}}</a>

	<div class="grid-content shrink">
		<ul class="menu-bar vertical">
			<li ng-repeat="starship in starships.results">
		        <a ui-sref="starships({ id:( starship.url | lastdir ), p:'' })">{{starship.name | capitalize}}</a>
		    </li>
		</ul>
	</div>

	<a class="button pagination" ng-show="nextPage" ui-sref="starships({ p: nextPage })">To Page {{nextPage}}</a>
</div>